<form action="/product/add" method="post">
    <p>
        <label>Product name: </label><input type="text" value="" name="productName"/><br>
        <br>
        <label>Product price: </label><input type="text" value="" name="productPrice"/><br>
        <br>
        <label>Product rating: </label><input type="text" value="" name="productRating"/>
        <br>
        <br>
        <button type="submit">ADD</button>
    </p>
</form>